<!DOCTYPE html>
<html>

<head>
	<title>Add Product</title>
</head>

<body>
	<h1>Add Product</h1>
	<form th:action="@{/save}" th:object="${product}" method="post">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" required><br><br>

		<label for="type">Type:</label>
		<input type="text" id="type" name="type" required><br><br>

		<label for="size">Size:</label>
		<input type="text" id="size" name="size" required><br><br>

		<label for="color">Color:</label>
		<input type="text" id="color" name="color" required><br><br>

		<label for="price">Price:</label>
		<input type="text" id="price" name="price" required><br><br>

		<label for="manufacturer">Manufacturer:</label>
		<select id="manufacturer" th:field="*{manufacturer}" class="form-control">
			<option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.manufacturerid}"
				th:text="${manufacturername}"></option>
		</select>

		<button type="submit">Save</button>
	</form>
</body>

</html>