<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
	<title>Edit Product</title>
</head>

<body>
	<h1>Edit Product</h1>
	<a th:href="@{/productlist}" style="margin: 10px;">
		<button style="padding: 5px; margin: 10px;" class="btn btn-primary">Main page</button>
	</a>
	<form th:object="${product}" th:action="@{../save}" action="#" method="post">
		<input type="hidden" id="id" th:field="*{id}" class="form-control">

		<label for="name">Name:</label>
		<input type="text" id="name" name="name" th:value="*{name}" required><br><br>

		<label for="type">Type:</label>
		<input type="text" id="type" name="type" th:value="*{type}" required><br><br>

		<label for="size">Size:</label>
		<input type="text" id="size" name="size" th:value="${product.size}" required><br><br>

		<label for="color">Color:</label>
		<input type="text" id="color" name="color" th:value="${product.color}" required><br><br>

		<label for="price">Price:</label>
		<input type="text" id="price" name="price" th:value="${product.price}" required><br><br>

		<label for="Manufacturer">Manufacturer</label>
		<select id="manufacturerlist" th:field="${product.manufacturer}" class="form-control">
			<option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.manufacturerid}"
				th:text="${manufacturer.name}"></option>
		</select>



		<button type="submit">Update</button>
		<button type="button" onClick="window.history.back()">Cancel</button>	
	</form>
</body>

</html>