<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
    
    <meta charset="ISO-8859-1">
    <link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css" th:href="@{/css/css/bootstrap.min.css}" />
    <title>Manufacturer list</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Manufacturer list</h1>
    <a th:href="@{/homepage}" style="margin: 10px;">
        <button style="padding: 5px; margin: 10px;" class="btn btn-primary">Main page</button>
    </a>
    <table class="table table striped">
        <tbody>
            <tr th:each="manufacturer: ${manufacturers}">
                <td th:text="${manufacturer.name}">Manufacturer name</td>
                <td>
                    <form
                        th:action="@{/deletemanufacturer/{manufacturerid}(manufacturerid=${manufacturer.manufacturerid})}"
                        method="get">
                        <button type="submit" class="btn btn-danger" style="margin: 10px;">Delete</button>
                    </form>
                    <form
                        th:action="@{/productsbymanufacturer/{manufacturerid}(manufacturerid=${manufacturer.manufacturerid})}"
                        method="get">
                        <button type="submit" class="btn btn-primary" style="margin: 10px;">Products</button>
                    </form>

                    <form
                        th:action="@{/editmanufacturer/{manufacturerid}(manufacturerid=${manufacturer.manufacturerid})}"
                        method="get">
                        <button type="submit" class="btn btn-primary" style="margin: 10px;">Edit</button>
                    </form>



                </td>
            </tr>
        </tbody>
    </table>
    <p><a href="/addmanufacturer" class="btn btn-success">Add new manufacturer</a></p>
    <p><a href="/productlist" class="btn btn-primary">Return</a></p>

</body>

</html>