<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
	<title>Product Details</title>
</head>
<body>
	<h1>Product Details</h1>
	<a th:href="@{/homepage}" style="margin: 10px;">
		<button style="padding: 5px; margin: 10px;" class="btn btn-primary">Main page</button>
	</a>
	<table class="table">
		
         <tr>
			<th>Name:</th>
			<td th:text="${product.name}"></td>
		</tr>
		<tr>
			<th>Type:</th>
			<td th:text="${product.type}"></td>
		</tr>
		<tr>
			<th>Size:</th>
			<td th:text="${product.size}"></td>
		</tr>
		<tr>
			<th>Color:</th>
			<td th:text="${product.color}"></td>
		</tr>
		<tr>
			<th>Price:</th>
			<td th:text="${product.price}"></td>
		</tr>
		<tr>
			<th>Quantity:</th>
			<td th:text="${product.quantity}"></td>
		</tr>
		<tr>
			<th>Manufacturer:</th>
			<td th:text="${product.manufacturer.name}"></td>
		</tr>
	
    
        <tr>
			<th>Country of production:</th>
			<td th:text="${product.countryofproduction}"></td>
		</tr>
		<tr>
			<th>Description:</th>
			<td th:text="${product.description}"></td>
		</tr>
    
    
    </table>
	<a th:href="@{/productlist}" style="margin: 10px;">
		<button class="btn btn-primary">Back to List</button>
	</a>
</body>
</html>




