<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
	<title>Product List</title>
	
</head>
<body>
	<h1>Product List</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Size</th>
				<th>Color</th>
				<th>Price</th>
				<th>Manufacturer</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.name}"></td>
				<td th:text="${product.type}"></td>
				<td th:text="${product.size}" ></td>
				<td th:text="${product.color}"></td>
				<td th:text="${product.price}"></td>
                <td th:text="${product.manufacturer.name}" ></td>
				<td>
					<form th:action="@{/delete/{productId}(productId=${product.id})}" method="get">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    
                    
                    <form th:action="@{/edit/{productId}(productId=${product.id})}" method="get">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
				</td>
			</tr>
		</tbody>
	</table>
	
	<form th:action="@{/addproduct}" method="get">
		<button type="submit" class="btn btn-primary">Add</button>
	</form>
</body>
</html>


